<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Opensearch App</title>
</head>
<body>
    <h1>Search Movies</h1>

    <form action="/movies" method="post">
        <div>
            <input required type="text" minlength="1" maxlength="200" id="search" name="search" value="{{query.search}}">
        </div>
        <div>
            <input required type="number" id="count" name="count" min="1" max="50" value="{{query.count}}">
        </div>
        <div>
            <button>GO</button>
        </div>
    </form>

    <ul>
        {% for movie in movies %}
            <li>{{ movie.title }}</li>
        {% endfor %}
    </ul>
</body>
</html>